{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <aside class="col-md-4">

            </aside>
        </div>
    </main>
{% endblock %}
