{% set article_show = path('article_show', { 'slug': article.slug }) %}

<div class="blog-post">
    <h2 class="blog-post-title"><a class="text-decoration-none" href="{{ article_show }}">{{ article.title }}</a></h2>
    <p class="blog-post-meta">{{ article.createdAt|date('d.m.Y') }}</p>

    {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...'}}
    <hr>
</div>