<div class="p-4">
    <h4 class="fst-italic">Архив</h4>
    <ol class="list-unstyled mb-0">
        <li><a href="#">Сентябрь 2023</a></li>
        <li><a href="#">Август 2023</a></li>
        <li><a href="#">Июль 2023</a></li>
        <li><a href="#">Июнь 2023</a></li>
    </ol>
</div>